/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
}

:root {
  --main-color: #ffb43a;
  --hover-color: hsl(37, 94%, 57%);
  --body-color: #1e1e2a;
  --container-color: #2d2e37;
  --text-color: #fcfeff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: var(--body-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif !important;
}

::-webkit-scrollbar {
  width: 5px;
}


::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--main-color);
}
