<div class="navbar">
  <a [routerLink]="['/home/search']" routerLinkActive="nav-link-active" class="nav-link">
    <i class="uil uil-search"></i>
    <span class="nav-link-title">Buscar</span>
  </a>
  <a [routerLink]="['/home']" routerLinkActive="nav-link-active" class="nav-link">
    <i class="uil uil-estate"></i>
    <span class="nav-link-title">Inicio</span>
  </a>
  <a href="#" class="nav-link">
    <i class="uil uil-film"></i>
    <span class="nav-link-title">Peliculas</span>
  </a>
  <a href="#" class="nav-link">
    <i class="uil uil-play"></i>
    <span class="nav-link-title">Series</span>
  </a>
  <a href="#" class="nav-link">
    <i class="uil uil-heart"></i>
    <span class="nav-link-title">Favoritos</span>
  </a>
</div>
